@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box
}
.container {
    font-family: 'Roboto', serif;
    width: 1280px;
    color: #2c2c2c;
    margin: 0 auto;
    font-weight: 400;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration: none;
}
.logo-text {
    margin-top: 38px;
    font-size: 80px;
}
a.logo-link {
    text-decoration:none;
    color: #2c2c2c;
}
.letter-highlight {
    color: #4bcaff;
}
.content-text {
    margin: 34px 1px 0;
    font-size: 18px;
    line-height: 24px;
}
.nav-top {
    margin-top: 38px;
    text-align: center;
}
.top-menu-list {
    background-color: #35444F;
    line-height: 72px;
}
.top-menu-item {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #fff;
}
.top-menu-item:last-child {
    border-right: 1px solid #fff;
}
.top-menu-item:hover {
    background-color: #222F3A;
}
a.top-menu-link {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    padding: 0 30px;
}
.nav-side {
    display: block;
    width: 340px;
    margin-top: 38px;
    background: none;
    float: left;
    border: 1px solid #777;
}
a.side-menu-link {
    display: block;
    color: #495863;
    font-size: 27px;
    width:100%;
    padding: 0 0 0 40px;
    line-height: 69px;
    -webkit-transition: padding 0.5s;
}
a.side-menu-link:hover {
    padding: 0 0 0 70px;
    background-color: #dbdbdb;
    color: #35444F;
}
.article-content {
    margin: 38px 0;
    display: block;
    width: 888px;
    float: right;
}
.showcase {
    text-align: center;
    width: 888px;
    border: 1px solid #777;
}
.image-main-article {
    border: none;
    margin: 74px 0;
    height: 381px;
    background: none;
   -webkit-transition: height 0.5s, margin 0.5s;
}
.image-main-article:hover {
    margin: 50px 0;
    height: 429px;
}
.content-text {
    font-size: 18px;
}
.nav-bottom {
    width: 100%;
    margin: 38px 0;
    border: 1px solid #4bcaff;
    background: rgba(99, 105, 110, 0.5);
    clear: both;
}
.bottom-menu-list {
    display: inline-block;
    width: 80%;
    line-height: 59px;
    padding-top: 7px;
}
.bottom-menu-item {
    display: inline-block;
    vertical-align: middle;
}
a.bottom-menu-link {
    color: #0C1927;
    font-size: 28px;
    padding: 0 10px;
}
a.bottom-menu-link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}
p.copyright {
    width: 18%;
    font-size: 24px;
    float: right;
    line-height: 59px;
    padding-top: 7px;
    color: #010101;
}